@font-face {
  font-family: "Source Code Pro"; /*Can be any text*/
  src: local("SourceCodePro"),
    url("./fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
      format("truetype");
}
body {
  font-family: monospace;
}
